/* 
    Name: VAISHAKH ANIL KUMAR
    C#: C0877469
    DATE: 2023 - 12 -06
*/

/* Importing VFRY Theme */
@import url(theme.css);


/* Contact Page styling */
.page-title-v1 .contact-title {
    display: flex;
    flex-direction: column;
    line-height: 80px;
}

.page-title-v1 .contact-title span {
    font-size: 3.25rem;
    display: inline;
    margin-left: 15vw;
}

form {
    color: var(--silver-white);
    width: 40%;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-container {
    width: 20vw;
    height: 20vw;

    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.product-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.form-description {
    font-size: 1rem;
    text-align: left;
}

legend {
    font-size: 2rem;
}

label {
    font-size: 1.25rem;
}

select:hover, input[type="date"]:hover {
    cursor: pointer;
}

input, textarea, select {
    background-color: rgba(41, 41, 41, 0.9);
    color: var(--silver-white);
    padding: 10px 10px;
}

.model-container,
.user-info-container,
.color-container,
.interface-container,
.material-container {
    margin-bottom: 40px;
}

.model-selection-container,
.customer-name,
.customer-contact
{
    display: flex;
    margin: 20px 0;
}


.model-selection-container div select,
.customer-name div input,
.customer-contact div input
{
    /* margin-left: 2vw; */
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 1rem;
}

.model-selection-container div:nth-child(2),
.customer-name div:nth-child(2),
.customer-contact div:nth-child(2)
{
    margin-left: 5vw;
}

.material-container, 
.interface-container {
    display: flex;
    flex-direction: column;
}
.material-container div label, 
.interface-container div label {
    margin-left: 20px;
    transition: color 0.5s ease-in-out;
}

.material-container div label:hover, 
.material-container div input:hover, 
.interface-container div label:hover,
.interface-container div input:hover{
    cursor: pointer;
    color: var(--gold);
}

.date-container,
.query-container{
    display: flex;
    flex-direction: column;
}

.query-container {
    margin-top: 20px;
}

.date-container input {
    width: 200px;
}

.date-container input,
.query-container textarea {
    margin-top: 20px;
}

.submit-button {
    width: 200px;
    padding: 15px;
    
    background-color: rgba(41, 41, 41, 0.9);
    border: 2px solid var(--gold);
    color: var(--gold);
    font-size: 1rem;

    transition: all 0.25s ease-in-out;
}

.submit-button:hover {
    transform: scale(0.9);
    background-color: white;
    color: var(--primary);
    cursor: pointer;
}

.reset-button {
    width: 200px;
    padding: 20px;
    border: 2px solid maroon;
    background: none;
    color: white;
    margin-left: 20px;
    transition: all 0.25s ease-in-out;
}

.reset-button:hover {
    cursor: pointer;
    transform: scale(0.9);
    color: red;
    border-color: red;
}

.required {
    color: red;
}